body{
    background-color: lightgray;
}

.bg-hero-image {
    background-image: url(imgs/trythis.jpg);
    background-position: center center;
}

.navbar-brand {
    font-family: 'Rochester', cursive;
    font-size: 35px;
}

.nav-link {
    font-family: 'Rochester', cursive;
    font-size: 25px;
}

.dropdown-item {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}
.dropdown-menu > li > a:hover {
    background-color: #afeeee;
    color: teal;
    transition:0.3s;
}

.wordsinpic {
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    color: #000000;
    font-size: 40px;
}
.textt {
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}
.btn{
    color: teal;
    background-color: #afeeee;
    border-color: teal;
    border-width: 2px;
    font-family: 'Rochester', cursive;
    font-size: 25px;

}
.btn:hover{
    color: #afeeee;
    background-color: teal;
    font-family: 'Rochester', cursive;
    font-size: 25px;
}
.card-title{
 font-family: 'Shadows Into Light Two', cursive;
 letter-spacing: 2px;
 font-weight: 600;

}
.card-text{
    font-family: 'Patrick Hand', cursive;
}
.card{
    border-color: darkgrey;
    border-width: 2.5px;
    background-color: rgb(229, 228, 228);
}
.wordsatbottom{
    text-decoration:none ;
    color: black;
}