.bg-hero-image {
    background-image: url(/imgs/pastel-cyan-mint-liquid-marble-watercolor-background-with-white-lines-brush-stains-teal-turquoise-marbled-alcohol-ink-drawing-effect-vector-illustration-backdrop-watercolour-wedding-invitation_353323-634.jpg.avif);
    background-position: center center;
}

.navbar-brand {
    font-family: 'Rochester', cursive;
    font-size: 35px;
}

.nav-link {
    font-family: 'Rochester', cursive;
    font-size: 25px;
}

.dropdown-item {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}

.wordsinpic {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    letter-spacing: 2px;
}